.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    border: 1px solid whitesmoke;
    border-radius: 8px;
}
.modal-image{
    width: 400px;
}
.cross{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    margin: 8px;
}
/* mobile responsive */
@media screen and (max-width: 700px){
    .shop-container{
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column-reverse;
    }
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        padding: 0;
        margin: 0;
    }
    .product{
        width: 95%;
    }
    .modal-image{
        width: 200px;
    }
    /* .qa-container{
        width: 90%;
        margin: 0;
        padding: 0;
    } */
}