.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    border: 1px solid #95A0A7;
    border-radius: 8px;
}
@media screen and (max-width: 400px){
    .shop-container{
        grid-template-columns: 1fr;
        
    }

    .products-container{
        grid-template-columns: 1fr;
    }
}